* {
    box-sizing: border-box;
}

body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.contenedorInventarioPedidos {
    display: flex;
    flex-direction: column;
    justify-content: initial;
    align-items: center;
    width: 100%;
    max-height: 100vh;
    /*background-color: black;*/
    padding: 1%;
}

.menuInventarioPedidos {
    /*display:flex;
    justify-content:center;
    align-items:center;*/
    width: 98%;
    height: 7vh;
    background-color: #048ABF;
    /*padding: 10px;*/
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    border: 1px solid #048ABF;
    /*box-sizing: border-box;*/
    /*margin-top: 1%;*/
}

.listaInventarioPedidos {
    width: 98%;
    height: 93vh;
    background-color: floralwhite;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    border: 1px solid #048ABF;
    /*padding: 10px;*/
}

/*#form1 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}*/

#buscadorPedidos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    padding-left: 10px;
    padding-right: 10px;
    /*background-color: red;*/
}

.input-group {
    width: 24%;
    /*margin-bottom: 10px;*/
}

.input-group-text {
    border-radius: unset;
}

#navPedido {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
}

#btnCrearPedido, #btnImprimirProductos {
    margin-right: 7px;
    height: 85%;
}

/* Media Queries */
@media (max-width: 768px) {
    #buscadorPedidos {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    .input-group {
        width: 100%;
    }

    #navProducto {
        width: 100%;
        justify-content: flex-start;
        margin-top: 10px;
    }

    #btnCrearProducto, #btnImprimirProductos {
        width: 48%;
        margin-right: 2%;
    }
}

@media (max-width: 576px) {
    .menuInventarioPedidos {
        padding: 10px;
    }

    #form1 {
        flex-direction: column;
    }

    #navProducto {
        flex-direction: row;
        width: 100%;
    }

    #btnCrearProducto, #btnImprimirProductos {
        width: 100%;
        margin: 5px 0;
    }
}

#modal-content-id {
    width: 95%;
    max-width: 100%;
    height: 98%;
    max-height: 100%;
}

/* Estilos para el modal */
.modal {
    display: none; /* Esto oculta el modal por defecto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    /* Centrando el modal horizontal y verticalmente */
    display: flex;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 60%;
    /* Asegurando que el modal esté centrado en la pantalla */
    position: relative;
}

    .modal-content h2 {
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        margin-bottom: 20px;
        color: #333;
    }

.form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-group {
    flex: 1 1 calc(33.333% - 10px);
    margin-bottom: 5px;
    padding: 0 5px;
}

    .form-group label {
        display: block;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 14px;
        font-weight: 600;
        color: #333;
        margin-bottom: 5px;
    }

    .form-group input,
    .form-group select {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 14px;
        color: #333;
        box-sizing: border-box;
    }

        .form-group input:focus,
        .form-group select:focus {
            border-color: #007bff;
            outline: none;
        }

.btn-primary {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .btn-primary:hover {
        background-color: #0056b3;
    }

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: color 0.3s;
}

    .close:hover,
    .close:focus {
        color: #333;
        text-decoration: none;
        cursor: pointer;
    }

.modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Asignación de estilo para la tabla*/
/* Estilos generales para la tabla */
#contenedor-tabla {
    max-height: 80%; /* Ajusta la altura según tus necesidades */
    overflow-y: auto; /* Habilitar el scroll vertical */
    margin-top: 20px;
}

    #contenedor-tabla table {
        width: 100%;
        border-collapse: collapse;
        font-family: Arial, sans-serif;
        /*font-size:small;*/
    }

    #contenedor-tabla th, #contenedor-tabla td {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: center;
    }

    /*Permite que los titulos de la tabla queden fijos*/
    #contenedor-tabla thead th {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    #contenedor-tabla th {
        background-color: #048ABF;
        color: white;
        font-weight: bold;
        /*text-transform: uppercase;*/
    }

    /* Estilo para las filas pares de la tabla */
    #contenedor-tabla tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    /* Estilo para las filas al pasar el cursor */
    #contenedor-tabla tr:hover {
        background-color: #ddd;
    }

    /* Estilo para el botón dentro de la tabla */
    #contenedor-tabla button.modificarBtn, button.eliminarBtn {
        background-color: #f39c12;
        color: white;
        padding: 10px 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

        #contenedor-tabla button.modificarBtn:hover, button.eliminarBtn:hover {
            background-color: #e67e22;
        }

/* Estilos para la tabla responsiva */
@media screen and (max-width: 768px) {
    #contenedor-tabla table, #contenedor-tabla th, #contenedor-tabla td {
        display: block;
        width: 100%;
    }

    #contenedor-tabla th {
        text-align: right;
        padding-right: 20px;
        background-color: #333;
        color: white;
    }

    #contenedor-tabla td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

        #contenedor-tabla td::before {
            content: attr(data-label);
            position: absolute;
            left: 0;
            width: 50%;
            padding-left: 10px;
            text-align: left;
            font-weight: bold;
        }
}

#areaAccionProductos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*#ddlPedidoProveedor {
    height: 65%;
}*/

#btnEliminarProducto {
    margin-top: 10%;
    /*background-color: red;*/
    width: 100%;
}

#eliminarProductoBtn {
    width: 100%;
    /*background-color: red;*/
}

#fotoProductoModificar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*background-color: red;*/
    width: 100%;
}
/**********************************************/
/* Estilos básicos para el modal de alerta */
.modalAlerta {
    display: none; /* Se oculta por defecto */
    position: fixed;
    z-index: 2000; /* Aparece encima de todo */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Fondo semitransparente con mayor opacidad */
}

/* Estilos del contenido del modal */
.modal-content-alerta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin: 15% auto;
    padding: 25px 30px;
    border-radius: 12px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); /* Sombra más marcada */
    width: 350px; /* Ancho aumentado */
    text-align: center;
    position: relative; /* Posición relativa para el botón de cierre */
}

/* Botón de cierre (la X) */
.close-button-alerta {
    color: #aaa;
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 24px;
    font-weight: bold;
}

    .close-button-alerta:hover,
    .close-button-alerta:focus {
        color: #333;
        cursor: pointer;
    }

/* Botón personalizado para OK */
#alert-ok-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 25px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 15px;
    transition: background-color 0.3s ease; /* Suavizar el cambio de color al pasar el cursor */
}

    #alert-ok-button:hover {
        background-color: #45a049;
    }

/* Estilo de la imagen del modal */
#alert-image {
    margin-bottom: 15px;
    width: 80px;
    height: 80px;
}

/*----Area del pedido del producto----*/
#containerPedido {
    height:100%;
    /*background-color:red;*/
}
/*Area de campos para crear pedido*/
#camposPedido {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /*padding-left: 10px;
    padding-right: 10px;*/
    /*background-color: red;*/
}

#buscadorProductoPedido {
    display: flex;
    height: 7%;
    position:relative;
    justify-content:center;
    align-items: center;
    /*margin-left: 0.8%;
    margin-right: 0.8%;*/
    /*background-color: aquamarine;*/
}

/*#inputBuscarProducto {*/
    /*width:100%;*/
    /*background-color: blue;
}*/

#tbbuscadorProductoPedido {
    width:100%;
}
/*Area en donde se ve el detalle del producto*/
#areaDetallePedido {
    height: 93%;
    /*margin-left: 0.8%;
    margin-right: 0.8%;*/
    /*margin: 1%;*/
    background-color: gray;
}
/*Buscador de productos (creación de pedido)*/

#resultadoBusqueda {
    background-color: #f0f0f5; /* Fondo claro */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    display: none; /* Oculto por defecto */

    position: absolute; /* Posición absoluta para usar z-index */
    top: 100%; /* Ajusta la posición como prefieras */
    left: 0;
    z-index: 1000; /* Asegura que esté al frente */
}

    #resultadoBusqueda p {
        margin: 5px 0;
        padding: 5px;
        cursor: pointer;
    }

        #resultadoBusqueda p:hover {
            background-color: #e0e0eb; /* Fondo para resaltar al pasar el cursor */
        }

/* Estilo para cuando no hay resultados */
.no-result {
    color: #a94442;
    font-weight: bold;
}


/*.search-container {
    position: relative;
    width: 100%;
    max-width: 400px;
}

.resultados {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.resultado-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

    .resultado-item:hover {
        background-color: #f0f0f0;
    }

.oculto {
    display: none;
}
*/